// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-red: #b33f40;
$color-accent: #a87b62;
$color-accent-light: #f0eae4;
$color-input-placeholder: #9b9997;
$color-text: #1d1613;
$color-header-border: #f6f5f4;

// Media Breakpoints
$breakpoint-tablet: 1023px;
$breakpoint-mobile: 767px;

// Fonts
$font-poppins: "Poppins", "Arial", sans-serif;
$font-cormorant: "Cormorant Garamond", "Courier New", serif;
