// Colors
$color-white: #ffffff;

// Media Breakpoints
$breakpoint-tablet: 1023px;
$breakpoint-mobile: 767px;

// Fonts
$font-roboto: "Roboto Condensed",
"Arial",
sans-serif;
$font-pt-mono: "PT Mono",
"Courier New",
sans-serif;
