.header {
  width: 100vw;
  overflow-x: hidden;
}

.header__top-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 33px;
  padding-bottom: 44px;

  @media (max-width: $breakpoint-tablet) {
    position: relative;
    padding-top: 41px;
    padding-bottom: 50px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding-top: 23px;
    padding-bottom: 34px;
  }
}

.header__search-container {
  position: relative;

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.header__search-container input {
  position: relative;
  left: -7px;
  padding: 10px;
  padding-left: 35px;
  border: 0;
  border-bottom: 2px solid $color-white;
  transition: 0.2s all ease;
  appearance: none;

  @media (max-width: $breakpoint-tablet) {
    left: 0;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 12px;
    border-bottom: 0;
    border-radius: 31px;
    color: $color-accent;
    background-color: rgba($color-white, 0.15);
  }

  &::placeholder {
    color: $color-input-placeholder;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    font-family: $font-poppins;

    @media (max-width: $breakpoint-tablet) {
      color: transparent;
    }
  }

  &:hover {
    border-color: $color-accent;
    cursor: pointer;

    @media (max-width: $breakpoint-tablet) {
      background-color: rgba($color-accent-light, 0.5);
    }

    & + svg {
      fill: $color-accent;

      @media (max-width: $breakpoint-tablet) {
        fill: $color-white;
      }
    }
  }

  &:focus {
    background-color: $color-accent-light;
    border-radius: 20px;
    outline: 1px solid $color-accent;

    & + svg {
      fill: $color-accent;
    }
  }
}

.header__search-container svg {
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  transform: translateY(-50%);

  @media (max-width: $breakpoint-tablet) {
    width: 16px;
    height: 16px;
    left: 12px;
    top: 40px;
    fill: $color-white;
  }
}

.header__logo {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 66px;
  height: 66px;
  transform: translateX(-40%);

  @media (max-width: $breakpoint-tablet) {
    transform: translateX(-50%);
  }

  @media (max-width: $breakpoint-mobile) {
    top: 18px;
    width: 52px;
    height: 52px;
  }

  &[href]:hover,
  &:focus {
    outline: 2px solid $color-accent;
    outline-offset: 10px;
    border-radius: 5px;
  }
}

.header__logo svg {
  width: 66px;
  height: 66px;
  fill: $color-accent;

  @media (max-width: $breakpoint-mobile) {
    width: 52px;
    height: 52px;
  }
}

.header__user-container {
  padding-top: 9px;
  /* To offset link padding */
  margin-right: -5px;

  @media (max-width: $breakpoint-tablet) {
    margin-right: 0;
  }
}

.header__user-container a {
  margin-left: 23px;
  padding: 5px;
  color: $color-text;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;

  @media (max-width: $breakpoint-tablet) {
    margin: 0;
    padding: 0;
  }

  &:hover {
    color: $color-accent;
  }

  &:focus {
    outline: 2px solid $color-accent;
    outline-offset: 4px;
  }
}

.header__user-button {
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.header__user-button-text span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
}

.header__cart-button {
  @media (max-width: $breakpoint-tablet) {
    position: relative;
    left: 5px;
    display: block;
    width: 28px;
    height: 26px;

    &:hover {
      svg {
        stroke: $color-accent;
      }
    }

    &:focus {
      outline-color: $color-accent;
    }
  }
}

.header__cart-button span {
  @media (max-width: $breakpoint-tablet) {
    font-size: 1px;
    opacity: 0;
  }
}

.header__cart-button svg {
  display: none;

  @media (max-width: $breakpoint-tablet) {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    fill: transparent;
    stroke: $color-text;
  }
}

.header__menu {
  padding: 10px 0;
  /* To offset link padding */
  margin-right: -9px;
  border-top: 1px solid $color-header-border;

  @media (max-width: $breakpoint-tablet) {
    border: 0;
    margin-right: 0;
    display: none;
    padding-bottom: 40px;
  }
}

.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;

  @media (max-width: $breakpoint-tablet) {
    display: block;
    margin-bottom: 32px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 23px;
  }
}

.header__menu-item {
  &:not(:last-child) {
    margin-right: 21px;

    @media (max-width: $breakpoint-tablet) {
      margin-right: 0;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    margin-right: 0;
    margin-bottom: 7px;
    margin-left: -7px;
  }
}

.header__menu-item a {
  display: inline-block;
  vertical-align: middle;
  padding: 7px;
  color: $color-text;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;


  @media (max-width: $breakpoint-tablet) {
    font-size: 24px;
    line-height: 36px;
    color: $color-white;
  }

  &:hover {
    color: $color-accent;

    @media (max-width: $breakpoint-tablet) {
      color: $color-white;
      text-decoration: underline;
    }
  }

  &:focus {
    outline: 2px solid $color-accent;
    outline-offset: 5px;

    @media (max-width: $breakpoint-tablet) {
      outline-color: $color-white;
      outline-offset: 0;
    }
  }
}

.header__sub-list {
  display: none;
  margin-bottom: 45px;
  padding: 0;
  list-style: none;

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 35px;
  }
}

.header__sub-item {
  margin-bottom: 20px;
}

.header__sub-item a {
  // To offset padding
  margin-left: -5px;
  padding: 5px;
  color: rgba($color-white, 0.75);
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  text-decoration: none;


  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 2px solid $color-white;
  }
}

.header__sub-login-button {
  display: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  text-decoration: none;

  @media (max-width: $breakpoint-tablet) {
    display: inline;
    color: $color-white;
    margin-bottom: 50px;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      outline: 2px solid $color-white;
      outline-offset: 5px;
    }
  }
}

.header__menu-toggle {
  display: none;

  @media (max-width: $breakpoint-tablet) {
    display: block;
    width: 25px;
    height: 18px;
    margin-top: 13px;
    padding: 0;
    border: 0;
    outline-offset: 2px;
    background-color: transparent;

    &:hover {
      cursor: pointer;

      .header__menu-visual::before {
        top: -10px;
      }

      .header__menu-visual::after {
        top: 10px;
      }
    }

    &:focus {
      outline-color: $color-accent;
      outline-offset: 10px;
    }
  }
}

.header__menu-visual {
  display: block;
  position: relative;
  width: 25px;
  height: 2px;
  background-color: $color-text;
  transition: all 0.2s ease;

  @include pseudo(before) {
    top: -8px;
    left: 0;
  }

  @include pseudo(after) {
    top: 8px;
    left: 0;
  }

  &::before,
  &::after {
    width: 100%;
    height: 2px;
    background-color: $color-text;
    transition: all 0.2s ease;
  }
}
