.heading {
  margin: 0;
  margin-bottom: 25px;
  color: $color-text;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  font-family: $font-cormorant;
  text-align: center;
  letter-spacing: 0.03em;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 20px;
  }
}
