.link {
  display: inline-block;
  margin: 0 auto;
  padding: 5px;
  border-bottom: 1px solid $color-accent;
  color: $color-text;
  font-size: 16px;
  line-height: 130%;
  text-decoration: none;
  vertical-align: middle;
}
