.link {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 60px;
  border-bottom: 1px solid $color-accent;
  color: $color-text;
  font-size: 16px;
  line-height: 130%;
  text-decoration: none;
  vertical-align: middle;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 54px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 44px;
  }

  &:hover {
    color: $color-accent;
    cursor: pointer;
  }

  &:focus {
    outline: 2px solid $color-accent;
    outline-offset: 5px;
  }
}
